/*

Color Palette: https://colorhunt.co/palette/8fbdd3e4d1b9be8c63a97155

*/

body {
  font-family: verdana, sans-serif;
  background: #8FBDD3;
  position: relative;
  text-align: center;
  padding: 20px;
}

h1 {
  padding-top: 70px;
}

.profile {
  position: relative;
}

.top-container {
  margin-bottom: 20px;
}

.top-cloud {
  position: relative;
  left: 30%;
}

.bottom-cloud {
  position: relative;
  right: 30%;
}

.profile-picture {
  width: 200px;
  height: 200px;
}

.skill-picture {
  max-width: 15%;
  max-height: 15%;
}

.middle-container {

}

.bottom-container {

}
